@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Fancy a Pizza?</h2>

    <img class="mainImage" style="margin-left:200px" src="~/images/PizzaTime.jpg"/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">BRING ME PIZZA</a>
</div>
