@page
@model Pizzeria.Pages.PizzaModel
@{
}


<div class="text-center">
    <div class="mainText">
        <h2 class="display-4 text-black text-capitalize">our great selection of pizzas!</h2>
        <h4>Choose one of our pizzas, or build your own pizza ;)</h4>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="~/images/Pizzas/Create.png" class="w-100" />
                    </div>
                    <div class="col-8 align-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align:left;">Create Your Own Pizza</h3>
                            <p style="text-align:left;">Make Your Own Pizza With Our Pizza Maker</p>
                            <a class="btn btn-primary" style="float:left;" asp-area="" asp-page="Forms/CustomPizza">Try Now</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>